In [89]:
import pandas as pd
import numpy as np

### Q1

In [90]:
pd.__version__

'2.3.2'

### Data Fetching

In [91]:
car_fuel_df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [92]:
car_fuel_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2

In [93]:
car_fuel_df.count()
# or 
print(len(car_fuel_df))

9704

### Q3

In [94]:
car_fuel_df.nunique()

engine_displacement      36
num_cylinders            14
horsepower              192
vehicle_weight         9704
acceleration            162
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
fuel_efficiency_mpg    9704
dtype: int64

### Q4

In [95]:
car_fuel_df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q5

In [96]:
car_fuel_df.groupby("origin").fuel_efficiency_mpg.max().round(2)

origin
Asia      23.76
Europe    25.97
USA       24.97
Name: fuel_efficiency_mpg, dtype: float64

### Q6

In [97]:
car_fuel_df.describe().round(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.00,9222.00,8996.00,9704.00,8774.00,9704.00,9202.00,9704.00
mean,199.71,3.96,149.66,3001.28,15.02,2011.48,-0.01,14.99
std,49.46,2.00,29.88,497.89,2.51,6.66,1.05,2.56
min,10.00,0.00,37.00,952.68,6.00,2000.00,-4.00,6.20
25%,170.00,3.00,130.00,2666.25,13.30,2006.00,-1.00,13.27
50%,200.00,4.00,149.00,2993.23,15.00,2012.00,0.00,15.01
75%,230.00,5.00,170.00,3334.96,16.70,2017.00,1.00,16.71
max,380.00,13.00,271.00,4739.08,24.30,2023.00,4.00,25.97

In [99]:
horsepower_ser = car_fuel_df["horsepower"]
horsepower_ser.median()
# The result will match the one from the describe function as the 50% percentile

np.float64(149.0)

In [100]:
horsepower_ser.isnull().sum()

np.int64(708)

In [101]:
mode_val = horsepower_ser.mode()[0]
mode_val

np.float64(152.0)

In [102]:
horsepower_ser.fillna(value=mode_val,inplace=True)

In [103]:
horsepower_ser.isnull().sum()

np.int64(0)

In [104]:
horsepower_ser.median()

np.float64(152.0)

### Q7

In [142]:
asian_cars = car_fuel_df[car_fuel_df["origin"] == "Asia"] 
asian_cars = asian_cars[["vehicle_weight","model_year"]]

In [143]:
first_7_asian_cars = asian_cars.iloc[:7]

In [144]:
X = first_7_asian_cars.to_numpy()
XTX = X.T @ X

In [146]:
XTX_inv = np.linalg.inv(XTX)

In [147]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [148]:
w = XTX_inv @ X.T @ y

In [150]:
result = np.sum(w)
result

np.float64(0.5187709081074016)